body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}

h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed white;
}

div{
    min-height: 125px;
    padding: 20px;
    height: auto;
    border: 3px solid white;

}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-top: none;
    border-left: 5px solid;
    border-bottom: 2px solid;
    border-right: none;

}



.blue{
    background-color:#0000FF;
    text-align: left;
    margin-right: 50px;
    border-bottom: none;
    border-right: 5px solid;
    border-top: 2px solid;
    border-left: none;


}

.blue h2 {
    color: #C4C4C4;
}
.blue p {
  color: #C4C4C4;
}

.yellow{
    background-color: #FFFF00;
    text-align: right;
    border-top: none;
    border-left: 5px solid;
    border-bottom: 2px solid;
    border-right: none;
    margin-left: 50px;


}

.yellow p, .yellow h2{
   color: #707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-bottom: none;
    border-right: 5px solid;
    border-top: 2px solid;
    border-left: none;

}

footer {
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: 5px solid white;
}

footer p{
    text-align:  right;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0;
}

